.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

@media (max-width: 1000px) {
  .home {
    display: flex;
    justify-content: center;
  }
}

.home__img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

@media (max-width: 1000px) {
  .home__img {
    display: none;
  }
}

.home__data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}

.home__title {
  position: relative;
  line-height: 1.24;
  padding-left: 70px;
  font-size: var(--h1-font-size);
}

@media (max-width: 470px) {
  .home__title {
    font-size: 40px;
  }
}

.home__title span {
  color: var(--first-color);
}

.home__description {
  line-height: 2.125;
  margin-block: 16px 32px;
}

.color__block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}

@media (max-width: 860px) {
  .color__block {
    display: none;
  }
}

.button-block {
  padding-left: 70px;
}

.button-home {
  display: inline-block;
  color: var(--title-color);
  border: 1px solid var(--first-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  margin-top: 48px;
}
.button-home:hover {
  color: var(--text-white);
}

.button-home:hover::before {
  transform: translateX(0);
}

.button-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}
